<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="username" value="" />
    <add key="password" value="" />
    <add key="org" value="" />
    <add key="client_id" value="" />
    <add key="client_secret" value="" />
    <add key="logLocation" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
    <services>
      <service behaviorConfiguration="ServiceNowConnector.Service1Behavior" name="ServiceNowConnector.SNService">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8733/ServiceNowConnector/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="ServiceNowConnector.IServiceNowConnector" name="BasicHttpBinding_IServiceNowConnector">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceNowConnector.Service1Behavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>